.Wrapper {
  position: fixed;
  top: 0;
  background-color: rgb(56, 56, 56);
  height: 100vh;
  width: 30%;
  transition: all 1s;
  z-index: 10;
  min-width: 250px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 10px;
}

.Wrapper h1 {
  text-align: right;
  color: #fff;
  padding: 0 10px;
}

.Wrapper h4 {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

.WrapperCart {
  height: 80%;
  overflow-y: auto;
}

.CartItems {
  width: 80%;
  margin: 0 auto;
  padding: 5px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.CartItems div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
  padding: 5px 0;
  margin-bottom: 3px;
  border-radius: 5px;
}

.CartItems h2 {
  font-size: 1.4rem;
}

.CartItems span{
  font-size: 1.1rem;
}

.CartItems img {
  width: 30%;
}