.List {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.PageTitle {
  font-weight: 600;
  font-size: 3rem;
}

.Header {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .Header {
    padding: 0 2rem;
  }
}